In [1]:
import os
import pandas as pd
cwd = os.getcwd()
print("Current working directory: {0}".format(cwd))

from os import listdir
from os.path import isfile, join 
path = "./data/data_IRS"
files = pd.Series([(path + "/" + f) for f in listdir(path) if isfile(join(path, f))])
files = files[files.str.endswith(".csv")]

Current working directory: /Users/chereowang27/NYCDSA/Capstone/NYCDSA_Capstone/Cherie

In [2]:
fi = []
for f in files: 
    df = pd.read_csv(f, index_col = None, header = 0)
    print(df.shape)
   # df['year'] = "20" + re.split("_|\.", str)[2]
    fi.append(df)

(166537, 153)
(166904, 77)
(165935, 153)
(167334, 73)
(166722, 127)
(166740, 114)
(179796, 147)
(166698, 131)

In [3]:
pd.concat(fi, axis = 0)

,STATEFIPS,STATE,zipcode,agi_stub,N1,mars1,MARS2,MARS4,ELF,CPREP,...,N04475,A04475,N07225,A07225,ZIPCODE,N85330,A85330,RAL,n21020,a21020
0,1,AL,0.0,1.0,802640.0,474470.0,99850.0,216600.0,717050.0,44090.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,AL,0.0,2.0,499070.0,218590.0,137460.0,129760.0,448190.0,26230.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1,AL,0.0,3.0,268590.0,89780.0,134440.0,38280.0,241060.0,14160.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1,AL,0.0,4.0,170880.0,32180.0,124070.0,11660.0,154120.0,7980.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1,AL,0.0,5.0,229870.0,22810.0,196990.0,5540.0,208380.0,11120.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
166693,56,WY,99999.0,2.0,3680.0,2000.0,1080.0,490.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,20.0,NaN,NaN
166694,56,WY,99999.0,3.0,2630.0,1100.0,1240.0,250.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN
166695,56,WY,99999.0,4.0,2020.0,590.0,1310.0,100.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN
166696,56,WY,99999.0,5.0,2670.0,430.0,2170.0,90.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN
166697,56,WY,99999.0,6.0,760.0,140.0,650.0,0.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN