In [1]:
import pandas as pd
import numpy as np
pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)

In [2]:
cali_13 = pd.read_csv('data/cali_metros_13.csv')
cali_14 = pd.read_csv('data/cali_metros_14.csv')
cali_15 = pd.read_csv('data/cali_metros_15.csv')
cali_16 = pd.read_csv('data/cali_metros_16.csv')
cali_17 = pd.read_csv('data/cali_metros_17.csv')
cali_18 = pd.read_csv('data/cali_metros_18.csv')

In [3]:
cali_lst = [cali_13,cali_14,cali_15,cali_16,cali_17,cali_18]
cali_concat = pd.concat(cali_lst, ignore_index=True)

In [4]:
cali_top5 = ['Los Angeles-Long Beach-Anaheim', 'San Francisco-Oakland-Hayward','Riverside-San Bernardino-Ontario',\
'Sacramento--Roseville--Arden-Arcade', 'San Diego-Carlsbad']
cali_top5_df = cali_concat[cali_concat['Metro'].isin(cali_top5)]
cali_top5_df = cali_top5_df.drop(columns=['RegionID','State','SizeRank','do_date'])

In [5]:
# Condensing female age groups
cali_top5_df['female_19_under'] = cali_top5_df['female_under_5']+\
                                  cali_top5_df['female_5_to_9']+\
                                  cali_top5_df['female_10_to_14']+\
                                  cali_top5_df['female_15_to_17']+\
                                  cali_top5_df['female_18_to_19']

cali_top5_df['female_20_to_29'] = cali_top5_df['female_20']+\
                                  cali_top5_df['female_21']+\
                                  cali_top5_df['female_22_to_24']+\
                                  cali_top5_df['female_25_to_29']

cali_top5_df['female_30_to_39'] = cali_top5_df['female_30_to_34']+\
                                  cali_top5_df['female_35_to_39']

cali_top5_df['female_40_to_64'] = cali_top5_df['female_40_to_44']+\
                                  cali_top5_df['female_45_to_49']+\
                                  cali_top5_df['female_50_to_54']+\
                                  cali_top5_df['female_55_to_59']+\
                                  cali_top5_df['female_60_to_61']+\
                                  cali_top5_df['female_62_to_64']

cali_top5_df['female_64_over'] =  cali_top5_df['female_65_to_66']+\
                                  cali_top5_df['female_67_to_69']+\
                                  cali_top5_df['female_70_to_74']+\
                                  cali_top5_df['female_75_to_79']+\
                                  cali_top5_df['female_80_to_84']+\
                                  cali_top5_df['female_85_and_over']

cali_top5_df = cali_top5_df.drop(columns = ['female_under_5','female_5_to_9',
                                            'female_10_to_14','female_15_to_17',
                                            'female_18_to_19','female_20',
                                            'female_21','female_22_to_24',
                                            'female_25_to_29','female_30_to_34',
                                            'female_35_to_39','female_40_to_44',
                                            'female_45_to_49','female_50_to_54',
                                            'female_55_to_59','female_60_to_61',
                                            'female_62_to_64','female_65_to_66',
                                            'female_67_to_69','female_70_to_74',
                                            'female_75_to_79','female_80_to_84',
                                            'female_85_and_over','female_pop'])

In [6]:
# Condensing male age groups
cali_top5_df['male_19_under'] = cali_top5_df['male_under_5']+\
                                cali_top5_df['male_5_to_9']+\
                                cali_top5_df['male_10_to_14']+\
                                cali_top5_df['male_15_to_17']+\
                                cali_top5_df['male_18_to_19']

cali_top5_df['male_20_to_29'] = cali_top5_df['male_20']+\
                                cali_top5_df['male_21']+\
                                cali_top5_df['male_22_to_24']+\
                                cali_top5_df['male_25_to_29']

cali_top5_df['male_30_to_39'] = cali_top5_df['male_30_to_34']+\
                                cali_top5_df['male_35_to_39']

cali_top5_df['male_40_to_64'] = cali_top5_df['male_40_to_44']+\
                                cali_top5_df['male_45_to_49']+\
                                cali_top5_df['male_50_to_54']+\
                                cali_top5_df['male_55_to_59']+\
                                cali_top5_df['male_60_61']+\
                                cali_top5_df['male_62_64']

cali_top5_df['male_64_over'] =  cali_top5_df['male_65_to_66']+\
                                cali_top5_df['male_67_to_69']+\
                                cali_top5_df['male_70_to_74']+\
                                cali_top5_df['male_75_to_79']+\
                                cali_top5_df['male_80_to_84']+\
                                cali_top5_df['male_85_and_over']

cali_top5_df = cali_top5_df.drop(columns = ['male_under_5','male_5_to_9',
                                            'male_10_to_14','male_15_to_17',
                                            'male_18_to_19','male_20',
                                            'male_21','male_22_to_24',
                                            'male_25_to_29','male_30_to_34',
                                            'male_35_to_39','male_40_to_44',
                                            'male_45_to_49','male_50_to_54',
                                            'male_55_to_59','male_60_61',
                                            'male_62_64','male_65_to_66',
                                            'male_67_to_69','male_70_to_74',
                                            'male_75_to_79','male_80_to_84',
                                            'male_85_and_over','male_pop'])

In [7]:
# Condensing commute times 
cali_top5_df['commute_30_mins_less'] = cali_top5_df['commute_less_10_mins']+\
                                       cali_top5_df['commute_10_14_mins']+\
                                       cali_top5_df['commute_15_19_mins']+\
                                       cali_top5_df['commute_20_24_mins']+\
                                       cali_top5_df['commute_25_29_mins']

cali_top5_df['commute_30_to_59'] = cali_top5_df['commute_30_34_mins']+\
                                   cali_top5_df['commute_35_39_mins']+\
                                   cali_top5_df['commute_40_44_mins']+\
                                   cali_top5_df['commute_45_59_mins']

cali_top5_df = cali_top5_df.drop(columns = ['commute_5_9_mins','commute_less_10_mins',
                                            'commute_15_19_mins','commute_20_24_mins',
                                            'commute_25_29_mins','commute_30_34_mins',
                                            'commute_35_39_mins','commute_35_44_mins',
                                            'commute_40_44_mins','commute_45_59_mins',
                                            'commute_60_89_mins','commute_90_more_mins',
                                            'commute_10_14_mins'])

In [8]:
# Condensing dwellings
cali_top5_df['dwellings_1_unit'] = cali_top5_df['dwellings_1_units_attached']+\
                                   cali_top5_df['dwellings_1_units_detached']

cali_top5_df['dwellings_2_to_49_units'] = cali_top5_df['dwellings_2_units']+\
                                          cali_top5_df['dwellings_3_to_4_units']+\
                                          cali_top5_df['dwellings_5_to_9_units']+\
                                          cali_top5_df['dwellings_10_to_19_units']+\
                                          cali_top5_df['dwellings_20_to_49_units']

cali_top5_df = cali_top5_df.drop(columns = ['dwellings_1_units_attached','dwellings_1_units_detached',
                                            'dwellings_2_units','dwellings_3_to_4_units',
                                            'dwellings_5_to_9_units','dwellings_10_to_19_units',
                                            'dwellings_20_to_49_units'])

In [9]:
# Condensing income, to closer match tax brackets
cali_top5_df['income_10000_39999'] = cali_top5_df['income_10000_14999']+\
                                     cali_top5_df['income_15000_19999']+\
                                     cali_top5_df['income_20000_24999']+\
                                     cali_top5_df['income_25000_29999']+\
                                     cali_top5_df['income_30000_34999']+\
                                     cali_top5_df['income_35000_39999']

cali_top5_df['income_40000_99999'] = cali_top5_df['income_40000_44999']+\
                                     cali_top5_df['income_45000_49999']+\
                                     cali_top5_df['income_50000_59999']+\
                                     cali_top5_df['income_60000_74999']+\
                                     cali_top5_df['income_75000_99999']

cali_top5_df['income_100000_199999'] = cali_top5_df['income_100000_124999']+\
                                       cali_top5_df['income_125000_149999']+\
                                       cali_top5_df['income_150000_199999']

cali_top5_df = cali_top5_df.drop(columns = ['income_10000_14999','income_15000_19999',
                                            'income_20000_24999','income_25000_29999',
                                            'income_30000_34999','income_35000_39999',
                                            'income_40000_44999','income_45000_49999',
                                            'income_50000_59999','income_60000_74999',
                                            'income_75000_99999','income_100000_124999',
                                            'income_125000_149999','income_150000_199999'])

In [10]:
# Renaming degree types for organization
cali_top5_df = cali_top5_df.rename(columns = {
    'associates_degree':'degree_associates',
    'bachelors_degree':'degree_bachelors',
    'graduate_professional_degree':'degree_graduate_professional',
    'walked_to_work':'commuters_walked_to_work'})

In [11]:
# Removing redundant ethnic variables
cali_top5_df = cali_top5_df.drop(columns = [
    'amerindian_including_hispanic','asian_including_hispanic',                                            
    'black_including_hispanic','not_hispanic_pop',                                            
    'two_or_more_races_pop','white_including_hispanic',                                            
    'hispanic_any_race'])

In [12]:
# Removing redundant sex/education variables
cali_top5_df = cali_top5_df.drop(columns = [
    'male_45_64_associates_degree','male_45_64_bachelors_degree',
    'male_45_64_grade_9_12','male_45_64_graduate_degree',
    'male_45_64_high_school','male_45_64_less_than_9_grade',
    'male_45_64_some_college'])

In [ ]:
# Removing redundant education variables
cali_top5_df = cali_top5_df.drop(columns = [
    'in_grades_1_to_4','in_grades_5_to_8','in_grades_9_to_12',
    'in_undergrad_college','bachelors_degree_2',
    'bachelors_degree_or_higher_25_64','masters_degree',
    'high_school_diploma','high_school_including_ged',
    'some_college_and_associates_degree','one_year_more_college'])

# Removing redundant population variables
cali_top5_df = cali_top5_df.drop(columns = [
    'population_1_year_and_over','population_3_years_over',
    'pop_5_years_over','pop_15_and_over',
    'pop_16_over','pop_25_64',
    'pop_25_years_over','pop_divorced','pop_never_married',
    'pop_now_married','pop_separated','pop_widowed'])

# Removing redundant commuting variables
cali_top5_df = cali_top5_df.drop(columns = [
    'commuters_by_bus','commuters_by_car_truck_van',
    'commuters_by_carpool','commuters_by_subway_or_elevated',
    'commuters_drove_alone','no_car','no_cars','one_car',
    'two_cars','three_cars','four_more_cars',
    'aggregate_travel_time_to_work'])

# Removing redundant housing/rent variables
cali_top5_df = cali_top5_df.drop(columns = [
    'rent_under_10_percent','rent_10_to_15_percent',
    'rent_15_to_20_percent','rent_20_to_25_percent',
    'rent_25_to_30_percent','rent_30_to_35_percent',
    'rent_35_to_40_percent','rent_40_to_50_percent',
    'rent_burden_not_computed','rent_over_50_percent',
    'renter_occupied_housing_units_paying_cash_median_gross_rent',
    'owner_occupied_housing_units',
    'owner_occupied_housing_units_lower_value_quartile',
    'owner_occupied_housing_units_median_value',
    'owner_occupied_housing_units_upper_value_quartile','family_households',
    'nonfamily_households','different_house_year_ago_different_city',
    'different_house_year_ago_same_city'])

# Removing redundant family variables
cali_top5_df = cali_top5_df.drop(columns = [
    'two_parent_families_with_young_children',
    'two_parents_father_in_labor_force_families_with_young_children',
    'two_parents_in_labor_force_families_with_young_children',
    'two_parents_mother_in_labor_force_families_with_young_children',
    'two_parents_not_in_labor_force_families_with_young_children',
    'speak_only_english_at_home','speak_spanish_at_home',
    'speak_spanish_at_home_low_english','families_with_young_children',
    'father_in_labor_force_one_parent_families_with_young_children',
    'father_one_parent_families_with_young_children',
    'children_in_single_female_hh'])