In [2]:
import pandas as pd
df = pd.read_csv('Zip_Zri_AllHomesPlusMultifamily.csv', dtype={'RegionName': str})

In [16]:
df

,RegionID,RegionName,City,State,Metro,CountyName,SizeRank,2010-09,2010-10,2010-11,...,2019-04,2019-05,2019-06,2019-07,2019-08,2019-09,2019-10,2019-11,2019-12,2020-01
0,61639,10025,New York,NY,New York-Newark-Jersey City,New York County,1,3031.0,3058.0,3031.0,...,3785.0,3788.0,3786.0,3784.0,3766.0,3779.0,3843.0,3873.0,3835.0,NaN
1,84654,60657,Chicago,IL,Chicago-Naperville-Elgin,Cook County,2,1790.0,1787.0,1784.0,...,2039.0,2070.0,2105.0,2140.0,2168.0,2185.0,2125.0,NaN,2053.0,1996.0
2,61637,10023,New York,NY,New York-Newark-Jersey City,New York County,3,3269.0,3304.0,3320.0,...,3874.0,3898.0,3917.0,3929.0,3931.0,3963.0,NaN,4123.0,4079.0,NaN
3,91982,77494,Katy,TX,Houston-The Woodlands-Sugar Land,Harris County,4,1547.0,1549.0,1560.0,...,1765.0,1755.0,1751.0,1752.0,1754.0,1759.0,1764.0,1769.0,1776.0,1778.0
4,84616,60614,Chicago,IL,Chicago-Naperville-Elgin,Cook County,5,1922.0,1925.0,1921.0,...,2245.0,2289.0,2332.0,2372.0,2398.0,2412.0,2348.0,2356.0,2311.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13176,68966,26291,Snowshoe,WV,NaN,Pocahontas County,13177,946.0,NaN,NaN,...,965.0,959.0,956.0,958.0,956.0,951.0,932.0,928.0,930.0,923.0
13177,62697,12720,Bethel,NY,NaN,Sullivan County,13178,1372.0,1390.0,1417.0,...,1279.0,1284.0,1288.0,1295.0,1294.0,1305.0,NaN,1348.0,1310.0,1272.0
13178,68924,26209,Snowshoe,WV,NaN,Pocahontas County,13179,NaN,NaN,NaN,...,728.0,727.0,725.0,724.0,745.0,762.0,779.0,NaN,NaN,765.0
13179,75924,41101,Ashland,KY,Huntington-Ashland,Boyd County,13180,758.0,754.0,760.0,...,852.0,850.0,847.0,842.0,836.0,836.0,829.0,853.0,828.0,815.0
13180,95851,89155,Las Vegas,NV,Las Vegas-Henderson-Paradise,Clark County,13181,1087.0,1098.0,1104.0,...,1309.0,1316.0,1324.0,1332.0,1340.0,1369.0,1406.0,1430.0,1441.0,1429.0

In [7]:
cols_2010 = targets.filter(regex='2010')
cols_2011 = targets.filter(regex='2011')
cols_2012 = targets.filter(regex='2012')
cols_2013 = targets.filter(regex='2013')
cols_2014 = targets.filter(regex='2014')
cols_2015 = targets.filter(regex='2015')
cols_2016 = targets.filter(regex='2016')
cols_2017 = targets.filter(regex='2017')
cols_2018 = targets.filter(regex='2018')
cols_2019 = targets.filter(regex='2019')
cols_2020 = targets.filter(regex='2020')

In [14]:
cols_2010['average'] = cols_2010.mean(axis=1)
cols_2011['average'] = cols_2011.mean(axis=1)
cols_2012['average'] = cols_2012.mean(axis=1)
cols_2013['average'] = cols_2013.mean(axis=1)
cols_2014['average'] = cols_2014.mean(axis=1)
cols_2015['average'] = cols_2015.mean(axis=1)
cols_2016['average'] = cols_2016.mean(axis=1)
cols_2017['average'] = cols_2017.mean(axis=1)
cols_2018['average'] = cols_2018.mean(axis=1)
cols_2019['average'] = cols_2019.mean(axis=1)
cols_2020['average'] = cols_2020.mean(axis=1)

/var/folders/rs/ck6nby4n2s365r7sdf740jt00000gn/T/ipykernel_78571/3034932187.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cols_2010['average'] = cols_2010.mean(axis=1)
/var/folders/rs/ck6nby4n2s365r7sdf740jt00000gn/T/ipykernel_78571/3034932187.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cols_2011['average'] = cols_2011.mean(axis=1)
/var/folders/rs/ck6nby4n2s365r7sdf740jt00000gn/T/ipykernel_78571/3034932187.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cols_2012['average'] = cols_2012.mean(axis=1)
/var/folders/rs/ck6nby4n2s365r7sdf740jt00000gn/T/ipykernel_78571/3034932187.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cols_2013['average'] = cols_2013.mean(axis=1)
/var/folders/rs/ck6nby4n2s365r7sdf740jt00000gn/T/ipykernel_78571/3034932187.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cols_2014['average'] = cols_2014.mean(axis=1)
/var/folders/rs/ck6nby4n2s365r7sdf740jt00000gn/T/ipykernel_78571/3034932187.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cols_2015['average'] = cols_2015.mean(axis=1)
/var/folders/rs/ck6nby4n2s365r7sdf740jt00000gn/T/ipykernel_78571/3034932187.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cols_2016['average'] = cols_2016.mean(axis=1)
/var/folders/rs/ck6nby4n2s365r7sdf740jt00000gn/T/ipykernel_78571/3034932187.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cols_2017['average'] = cols_2017.mean(axis=1)
/var/folders/rs/ck6nby4n2s365r7sdf740jt00000gn/T/ipykernel_78571/3034932187.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cols_2018['average'] = cols_2018.mean(axis=1)
/var/folders/rs/ck6nby4n2s365r7sdf740jt00000gn/T/ipykernel_78571/3034932187.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cols_2019['average'] = cols_2019.mean(axis=1)
/var/folders/rs/ck6nby4n2s365r7sdf740jt00000gn/T/ipykernel_78571/3034932187.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cols_2020['average'] = cols_2020.mean(axis=1)

In [15]:
cols_2017

,2017-01,2017-02,2017-03,2017-04,2017-05,2017-06,2017-07,2017-08,2017-09,2017-10,2017-11,2017-12,average
0,5009.0,NaN,NaN,NaN,NaN,3988.0,NaN,NaN,3661.0,NaN,NaN,NaN,4219.333333
1,2108.0,2104.0,2117.0,2118.0,2125.0,2146.0,2168.0,2183.0,2165.0,2128.0,2097.0,2070.0,2127.416667
2,NaN,NaN,NaN,NaN,NaN,4176.0,NaN,3997.0,3924.0,NaN,NaN,NaN,4032.333333
3,1765.0,1763.0,1762.0,1760.0,1752.0,1753.0,1757.0,1763.0,1777.0,1791.0,1799.0,1799.0,1770.083333
4,2313.0,2307.0,2319.0,2325.0,2338.0,2364.0,2389.0,2401.0,2391.0,2364.0,2327.0,2290.0,2344.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...
13176,993.0,984.0,968.0,965.0,964.0,964.0,955.0,943.0,933.0,917.0,906.0,904.0,949.666667
13177,1162.0,1154.0,1147.0,1145.0,1155.0,1172.0,1186.0,1206.0,1212.0,1215.0,1212.0,1211.0,1181.416667
13178,746.0,752.0,765.0,770.0,770.0,771.0,764.0,761.0,760.0,764.0,771.0,758.0,762.666667
13179,860.0,855.0,851.0,850.0,855.0,861.0,867.0,863.0,854.0,840.0,832.0,832.0,851.666667
13180,1263.0,1263.0,1259.0,1267.0,1272.0,1278.0,1284.0,1289.0,1300.0,1292.0,1284.0,1280.0,1277.583333

In [57]:
year_avgs = pd.DataFrame({'geo_id':df.RegionName,
             '2010':cols_2010.average,
             '2011':cols_2011.average,
             '2012':cols_2012.average,
             '2013':cols_2013.average,
             '2014':cols_2014.average,
             '2015':cols_2015.average,
             '2016':cols_2016.average,
             '2017':cols_2017.average,
             '2018':cols_2018.average,
             '2019':cols_2019.average,
             '2020':cols_2020.average})
year_avgs.head(60)

,geo_id,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
0,10025,3033.750000,2864.666667,2967.000000,3144.666667,3274.375000,3849.875000,4166.714286,4219.333333,3532.000000,3804.333333,NaN
1,60657,1783.750000,1787.250000,1866.833333,1955.666667,2005.666667,2073.500000,2140.416667,2127.416667,2098.333333,2085.545455,1996.0
2,10023,3303.750000,3074.250000,3073.833333,3198.250000,3322.250000,4153.600000,4670.375000,4032.333333,3835.125000,3960.222222,NaN
3,77494,1554.000000,1584.500000,1630.583333,1786.833333,1956.833333,1921.916667,1819.833333,1770.083333,1788.166667,1763.416667,1778.0
4,60614,1919.000000,1897.583333,2014.666667,2148.000000,2202.583333,2271.000000,2346.500000,2344.000000,2314.250000,2306.583333,NaN
5,77449,1185.500000,1214.200000,1155.333333,1251.166667,1361.083333,1424.000000,1423.833333,1405.000000,1432.416667,1411.250000,1443.0
6,10002,3328.250000,3289.250000,3403.916667,3523.833333,3646.142857,4374.714286,4372.800000,4033.000000,3393.200000,3716.777778,3605.0
7,77084,954.000000,1064.666667,1116.333333,1205.916667,1327.916667,1417.166667,1414.083333,1372.750000,1414.416667,1404.250000,1438.0
8,79936,1075.750000,999.166667,1005.833333,961.666667,984.916667,1014.833333,1011.916667,992.583333,973.916667,947.833333,991.0
9,60640,1423.000000,1377.916667,1412.083333,1470.833333,1518.416667,1567.583333,1604.916667,1620.333333,1620.250000,1638.250000,1651.0
10,11226,1745.333333,1637.333333,1689.416667,1869.750000,2023.090909,2070.583333,2210.166667,2168.416667,2071.333333,2139.545455,2174.0
11,10467,1432.666667,1378.250000,1306.666667,1341.833333,1369.750000,1452.000000,1545.416667,1619.916667,1623.166667,1750.909091,1842.0
12,78660,1059.500000,1034.416667,1037.000000,1102.583333,1238.333333,1343.250000,1401.833333,1410.833333,1424.833333,1462.250000,1521.0
13,94109,3125.750000,3135.416667,3375.500000,3747.083333,4123.250000,4520.250000,4492.916667,4231.416667,4245.916667,4421.083333,4406.0
14,10016,3261.000000,3171.833333,3316.500000,3475.750000,3556.500000,4143.750000,4270.200000,3932.428571,3189.166667,3306.000000,3365.0
15,37013,1126.500000,1141.833333,1162.166667,1191.083333,1222.166667,1318.666667,1371.250000,1364.666667,1372.083333,1341.000000,1337.0
16,60647,1673.000000,1593.500000,1604.083333,1671.750000,1807.833333,1899.000000,1927.916667,1915.416667,1884.416667,1882.500000,1824.0
17,11201,2414.250000,2351.583333,2573.916667,2908.500000,2838.583333,2843.666667,2902.666667,2837.000000,2732.916667,2877.833333,3045.0
18,11235,1718.250000,1612.583333,1666.916667,1799.416667,1906.636364,2026.083333,2217.416667,2170.833333,2088.250000,2093.166667,2081.0
19,11375,1508.000000,1520.000000,1584.166667,1685.083333,1821.583333,1942.250000,2069.250000,2049.333333,2042.166667,2082.083333,2115.0
20,90250,2363.500000,2317.666667,2276.250000,2309.416667,2390.583333,2550.583333,2620.666667,2665.333333,2669.583333,2606.666667,2585.0
21,78130,1166.250000,1113.083333,1181.916667,1248.833333,1259.666667,1350.583333,1392.500000,1414.500000,1395.083333,1376.583333,1385.0
22,37211,952.750000,980.500000,1059.833333,1104.500000,1203.916667,1327.333333,1393.666667,1384.500000,1367.500000,1351.500000,1374.0
23,10029,2781.000000,2772.250000,2780.454545,2879.083333,3039.666667,3570.727273,3876.777778,3509.571429,3143.777778,3213.416667,3150.0
24,10009,3544.500000,3402.500000,3461.833333,3561.250000,3650.375000,4416.833333,4648.000000,4148.571429,3391.800000,3541.200000,3416.0
25,77573,965.000000,1074.545455,1053.083333,1083.000000,1212.666667,1330.750000,1407.666667,1374.833333,1405.750000,1382.833333,1359.0
26,60618,1582.500000,1514.500000,1496.000000,1552.000000,1665.666667,1715.083333,1764.333333,1746.250000,1762.916667,1784.333333,1739.0
27,77584,1247.000000,1227.363636,1347.666667,1413.166667,1492.222222,1609.583333,1615.333333,1622.750000,1634.333333,1582.916667,1590.0
28,20002,1935.000000,1973.250000,2015.333333,2172.000000,2131.916667,2161.333333,2256.333333,2282.083333,2239.750000,2318.833333,2329.0
29,10128,3163.000000,2959.454545,3032.750000,3142.666667,3215.857143,3924.285714,4275.428571,4099.750000,3469.000000,3796.875000,3610.0
30,28269,954.500000,916.500000,936.000000,972.333333,1028.583333,1066.000000,1128.833333,1160.166667,1200.083333,1283.666667,1302.0
31,78613,1008.000000,1075.666667,1107.666667,1166.333333,1321.000000,1478.916667,1497.833333,1457.750000,1490.916667,1525.166667,1552.0
32,77433,1339.500000,1307.111111,1274.700000,1423.181818,1472.000000,1579.416667,1578.545455,1461.000000,1483.166667,1495.083333,1542.0
33,78572,855.250000,851.555556,738.000000,865.444444,972.416667,990.250000,897.666667,887.166667,872.083333,827.166667,832.0
34,30349,963.250000,960.166667,930.833333,916.333333,926.750000,945.833333,1018.000000,1083.250000,1119.166667,1169.250000,1213.0
35,79912,1251.250000,1191.545455,1181.166667,1145.666667,1136.666667,1167.000000,1169.250000,1137.416667,1131.833333,1129.500000,1176.0
36,75052,1083.000000,975.363636,962.583333,1023.083333,1095.416667,1151.750000,1228.333333,1272.166667,1306.000000,1309.000000,1327.0
37,94565,1787.500000,1679.000000,1676.583333,1716.500000,1778.500000,1924.666667,2076.250000,2122.416667,2177.000000,2270.666667,2283.0
38,37042,855.000000,799.500000,855.166667,847.916667,867.000000,879.583333,894.416667,890.416667,909.250000,880.833333,914.0
39,11206,1845.250000,1805.833333,2029.416667,2273.583333,2456.416667,2591.000000,2636.500000,2590.750000,2509.666667,2582.666667,2664.0
40,73099,964.500000,939.833333,947.444444,1090.083333,1168.333333,1196.666667,1177.083333,1154.250000,1168.333333,1149.916667,1159.0
41,90046,2678.750000,2714.250000,2751.416667,2799.833333,2906.583333,3179.416667,3237.333333,3236.333333,3185.500000,3182.333333,3212.0
42,20009,2141.750000,2382.583333,2451.833333,2550.666667,2502.250000,2503.000000,2567.166667,2598.916667,2542.250000,2589.666667,2606.0
43,77429,1393.250000,1409.500000,1329.083333,1438.600000,1494.714286,1647.000000,1639.181818,1538.083333,1506.909091,1349.727273,1350.0
44,78245,1063.333333,1067.000000,1086.416667,1067.333333,1106.083333,1171.750000,1204.083333,1222.083333,1233.333333,1252.833333,1252.0
45,77479,1392.000000,1495.500000,1537.500000,1641.583333,1784.416667,1876.166667,1844.833333,1778.083333,1791.500000,1776.666667,1768.0
46,10462,1520.666667,1356.666667,1290.000000,1297.250000,1362.166667,1449.083333,1524.181818,1615.833333,1608.166667,1669.083333,1821.0
47,10456,1351.500000,1471.000000,1439.750000,1454.083333,1433.833333,1506.083333,1572.666667,1673.500000,1693.833333,1842.818182,1936.0
48,60613,1460.500000,1480.083333,1538.416667,1607.250000,1646.000000,1678.166667,1741.750000,1732.250000,1720.916667,1720.333333,1702.0
49,30044,1081.500000,1077.750000,1075.000000,1121.000000,1171.916667,1253.916667,1317.000000,1373.833333,1396.333333,1386.333333,1435.0
50,10019,3303.750000,3148.166667,3181.583333,3313.083333,3506.666667,4137.428571,4400.875000,4146.285714,3678.555556,3796.166667,3807.0
51,63376,953.500000,1044.000000,1068.833333,1100.916667,1155.083333,1210.916667,1248.416667,1256.333333,1219.666667,1195.166667,1256.0
52,28277,1149.750000,1136.500000,1200.916667,1255.083333,1293.000000,1357.333333,1427.500000,1446.916667,1511.166667,1563.000000,1619.0
53,60625,1532.750000,1461.250000,1430.166667,1480.500000,1566.666667,1607.250000,1643.250000,1627.000000,1643.500000,1669.333333,1654.0
54,30043,1219.750000,1211.250000,1190.583333,1239.250000,1286.833333,1367.250000,1444.000000,1482.166667,1499.666667,1472.750000,1527.0
55,11230,1753.500000,1611.545455,1644.333333,1764.083333,1863.250000,1991.166667,2165.000000,2119.500000,2012.083333,2049.416667,NaN
56,11212,1494.750000,1578.000000,1644.083333,1787.416667,1944.900000,2016.333333,2182.083333,2180.333333,2083.545455,2120.363636,2183.0
57,77036,884.500000,871.250000,853.750000,894.363636,1069.090909,1168.000000,1206.166667,1177.666667,1173.416667,1169.250000,1183.0
58,10463,1516.750000,1490.500000,1487.000000,1517.333333,1552.545455,1650.833333,1747.666667,1772.000000,1834.416667,1988.083333,2034.0
59,60629,1122.500000,1181.333333,1141.750000,1159.500000,1224.333333,1253.583333,1268.666667,1281.166667,1310.916667,1314.250000,1298.0

In [21]:
year_avgs.to_csv('year_avgs.csv')

In [48]:
df_2011 = pd.read_csv('./Data/demo_zip_11.csv')
df_2012 = pd.read_csv('./Data/demo_zip_12.csv')
df_2013 = pd.read_csv('./Data/demo_zip_13.csv')
df_2014 = pd.read_csv('./Data/demo_zip_14.csv')
df_2015 = pd.read_csv('./Data/demo_zip_15.csv').drop(columns = 'geoid') #mysterious column of all NaN
df_2016 = pd.read_csv('./Data/demo_zip_16.csv')
df_2017 = pd.read_csv('./Data/demo_zip_17.csv')
df_2018 = pd.read_csv('./Data/demo_zip_18.csv')

In [49]:
df_2011 = pd.merge(df_2011, year_avgs[['geo_id', '2011']], on='geo_id').rename(columns={'2011':'avg_rent'})
df_2012 = pd.merge(df_2012, year_avgs[['geo_id', '2012']], on='geo_id').rename(columns={'2012':'avg_rent'})
df_2013 = pd.merge(df_2013, year_avgs[['geo_id', '2013']], on='geo_id').rename(columns={'2013':'avg_rent'})
df_2014 = pd.merge(df_2014, year_avgs[['geo_id', '2014']], on='geo_id').rename(columns={'2014':'avg_rent'})
df_2015 = pd.merge(df_2015, year_avgs[['geo_id', '2015']], on='geo_id').rename(columns={'2015':'avg_rent'})
df_2016 = pd.merge(df_2016, year_avgs[['geo_id', '2016']], on='geo_id').rename(columns={'2016':'avg_rent'})
df_2017 = pd.merge(df_2017, year_avgs[['geo_id', '2017']], on='geo_id').rename(columns={'2017':'avg_rent'})
df_2018 = pd.merge(df_2018, year_avgs[['geo_id', '2018']], on='geo_id').rename(columns={'2018':'avg_rent'})

In [50]:
df_2011.to_csv('./Data_w_targets/demo_zip_11.csv')
df_2012.to_csv('./Data_w_targets/demo_zip_12.csv')
df_2013.to_csv('./Data_w_targets/demo_zip_13.csv')
df_2014.to_csv('./Data_w_targets/demo_zip_14.csv')
df_2015.to_csv('./Data_w_targets/demo_zip_15.csv')
df_2016.to_csv('./Data_w_targets/demo_zip_16.csv')
df_2017.to_csv('./Data_w_targets/demo_zip_17.csv')
df_2018.to_csv('./Data_w_targets/demo_zip_18.csv')