In [1]:
import pandas as pd
import numpy as np

In [2]:
cali_13 = pd.read_csv('data/cali_metros_13.csv')
cali_14 = pd.read_csv('data/cali_metros_14.csv')
cali_15 = pd.read_csv('data/cali_metros_15.csv')
cali_16 = pd.read_csv('data/cali_metros_16.csv')
cali_17 = pd.read_csv('data/cali_metros_17.csv')
cali_18 = pd.read_csv('data/cali_metros_18.csv')

In [3]:
def null_columns(df):
    
    null_columns = df.columns[df.isnull().any()]
    null_df = pd.DataFrame(df[null_columns].isnull().sum()).reset_index()
    null_df = null_df.rename(columns={'index':'Feature',0:'Count'})
    
    
    
    return null_df.sort_values('Count', ascending = False)

In [4]:
irs_data = pd.read_csv('data/13zp05ca.csv')

/Users/skippy/opt/anaconda3/lib/python3.9/site-packages/IPython/core/interactiveshell.py:3444: DtypeWarning: Columns (0) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [5]:
cali_lst = [cali_13,cali_14,cali_15,cali_16,cali_17,cali_18]
cali_concat = pd.concat(cali_lst, ignore_index=True)

In [6]:
cali_concat.shape

(6954, 260)

In [7]:
cali_top5 = ['Los Angeles-Long Beach-Anaheim', 'San Francisco-Oakland-Hayward','Riverside-San Bernardino-Ontario',\
'Sacramento--Roseville--Arden-Arcade', 'San Diego-Carlsbad']

In [8]:
cali_top5_df = cali_concat[cali_concat['Metro'].isin(cali_top5)]

In [9]:
cali_top5_df = cali_top5_df.drop(columns=['RegionID','State','SizeRank','do_date'])

In [10]:
cali_top5_df.head()

,RegionName,City,Metro,CountyName,nonfamily_households,family_households,median_year_structure_built,rent_burden_not_computed,rent_over_50_percent,rent_40_to_50_percent,...,speak_spanish_at_home,speak_spanish_at_home_low_english,pop_15_and_over,pop_never_married,pop_now_married,pop_separated,pop_widowed,pop_divorced,avg_rent,Date
0,94109,San Francisco,San Francisco-Oakland-Hayward,San Francisco County,25096.0,8269.0,1939.0,1425.0,6442.0,2043.0,...,4015.0,1224.0,52542.0,29413.0,14320.0,986.0,1136.0,3506.0,3747.083333,2013
1,90250,Hawthorne,Los Angeles-Long Beach-Anaheim,Los Angeles County,10196.0,21200.0,1965.0,786.0,5728.0,1952.0,...,40425.0,16702.0,73067.0,32819.0,27720.0,2285.0,1854.0,4583.0,2309.416667,2013
2,94565,Pittsburg,San Francisco-Oakland-Hayward,Contra Costa County,6676.0,19322.0,1979.0,553.0,3632.0,1291.0,...,30041.0,14947.0,66435.0,25894.0,28380.0,1842.0,1982.0,5174.0,1716.500000,2013
3,90046,Los Angeles,Los Angeles-Long Beach-Anaheim,Los Angeles County,21276.0,7452.0,1959.0,870.0,6388.0,1891.0,...,4847.0,1016.0,46964.0,26353.0,11830.0,865.0,870.0,2905.0,2799.833333,2013
4,94501,Alameda,San Francisco-Oakland-Hayward,Alameda County,10299.0,14372.0,1950.0,683.0,2995.0,1176.0,...,4308.0,1158.0,51255.0,18319.0,23250.0,1138.0,1558.0,4514.0,2352.833333,2013

In [11]:
# Condensing female age groups
cali_top5_df['female_19_under'] = cali_top5_df['female_under_5']+\
                                  cali_top5_df['female_5_to_9']+\
                                  cali_top5_df['female_10_to_14']+\
                                  cali_top5_df['female_15_to_17']+\
                                  cali_top5_df['female_18_to_19']

cali_top5_df['female_20_to_29'] = cali_top5_df['female_20']+\
                                  cali_top5_df['female_21']+\
                                  cali_top5_df['female_22_to_24']+\
                                  cali_top5_df['female_25_to_29']

cali_top5_df['female_30_to_39'] = cali_top5_df['female_30_to_34']+\
                                  cali_top5_df['female_35_to_39']

cali_top5_df['female_40_to_64'] = cali_top5_df['female_40_to_44']+\
                                  cali_top5_df['female_45_to_49']+\
                                  cali_top5_df['female_50_to_54']+\
                                  cali_top5_df['female_55_to_59']+\
                                  cali_top5_df['female_60_to_61']+\
                                  cali_top5_df['female_62_to_64']

cali_top5_df['female_64_over'] =  cali_top5_df['female_65_to_66']+\
                                  cali_top5_df['female_67_to_69']+\
                                  cali_top5_df['female_70_to_74']+\
                                  cali_top5_df['female_75_to_79']+\
                                  cali_top5_df['female_80_to_84']+\
                                  cali_top5_df['female_85_and_over']

cali_top5_df = cali_top5_df.drop(columns = ['female_under_5','female_5_to_9',
                                            'female_10_to_14','female_15_to_17',
                                            'female_18_to_19','female_20',
                                            'female_21','female_22_to_24',
                                            'female_25_to_29','female_30_to_34',
                                            'female_35_to_39','female_40_to_44',
                                            'female_45_to_49','female_50_to_54',
                                            'female_55_to_59','female_60_to_61',
                                            'female_62_to_64','female_65_to_66',
                                            'female_67_to_69','female_70_to_74',
                                            'female_75_to_79','female_80_to_84',
                                            'female_85_and_over','female_pop'])

In [12]:
# Condensing male age groups
cali_top5_df['male_19_under'] = cali_top5_df['male_under_5']+\
                                cali_top5_df['male_5_to_9']+\
                                cali_top5_df['male_10_to_14']+\
                                cali_top5_df['male_15_to_17']+\
                                cali_top5_df['male_18_to_19']

cali_top5_df['male_20_to_29'] = cali_top5_df['male_20']+\
                                cali_top5_df['male_21']+\
                                cali_top5_df['male_22_to_24']+\
                                cali_top5_df['male_25_to_29']

cali_top5_df['male_30_to_39'] = cali_top5_df['male_30_to_34']+\
                                cali_top5_df['male_35_to_39']

cali_top5_df['male_40_to_64'] = cali_top5_df['male_40_to_44']+\
                                cali_top5_df['male_45_to_49']+\
                                cali_top5_df['male_50_to_54']+\
                                cali_top5_df['male_55_to_59']+\
                                cali_top5_df['male_60_61']+\
                                cali_top5_df['male_62_64']

cali_top5_df['male_64_over'] =  cali_top5_df['male_65_to_66']+\
                                cali_top5_df['male_67_to_69']+\
                                cali_top5_df['male_70_to_74']+\
                                cali_top5_df['male_75_to_79']+\
                                cali_top5_df['male_80_to_84']+\
                                cali_top5_df['male_85_and_over']

cali_top5_df = cali_top5_df.drop(columns = ['male_under_5','male_5_to_9',
                                            'male_10_to_14','male_15_to_17',
                                            'male_18_to_19','male_20',
                                            'male_21','male_22_to_24',
                                            'male_25_to_29','male_30_to_34',
                                            'male_35_to_39','male_40_to_44',
                                            'male_45_to_49','male_50_to_54',
                                            'male_55_to_59','male_60_61',
                                            'male_62_64','male_65_to_66',
                                            'male_67_to_69','male_70_to_74',
                                            'male_75_to_79','male_80_to_84',
                                            'male_85_and_over','male_pop'])

In [13]:
# Condensing commute times 
cali_top5_df['commute_30_mins_less'] = cali_top5_df['commute_less_10_mins']+\
                                       cali_top5_df['commute_10_14_mins']+\
                                       cali_top5_df['commute_15_19_mins']+\
                                       cali_top5_df['commute_20_24_mins']+\
                                       cali_top5_df['commute_25_29_mins']

cali_top5_df['commute_30_to_59'] = cali_top5_df['commute_30_34_mins']+\
                                   cali_top5_df['commute_35_39_mins']+\
                                   cali_top5_df['commute_40_44_mins']+\
                                   cali_top5_df['commute_45_59_mins']

cali_top5_df = cali_top5_df.drop(columns = ['commute_5_9_mins','commute_less_10_mins',
                                            'commute_15_19_mins','commute_20_24_mins',
                                            'commute_25_29_mins','commute_30_34_mins',
                                            'commute_35_39_mins','commute_35_44_mins',
                                            'commute_40_44_mins','commute_45_59_mins',
                                            'commute_60_89_mins','commute_90_more_mins',
                                            'commute_10_14_mins'])

In [14]:
# Condensing dwellings
cali_top5_df['dwellings_1_unit'] = cali_top5_df['dwellings_1_units_attached']+\
                                   cali_top5_df['dwellings_1_units_detached']

cali_top5_df['dwellings_2_to_49_units'] = cali_top5_df['dwellings_2_units']+\
                                          cali_top5_df['dwellings_3_to_4_units']+\
                                          cali_top5_df['dwellings_5_to_9_units']+\
                                          cali_top5_df['dwellings_10_to_19_units']+\
                                          cali_top5_df['dwellings_20_to_49_units']

cali_top5_df = cali_top5_df.drop(columns = ['dwellings_1_units_attached','dwellings_1_units_detached',
                                            'dwellings_2_units','dwellings_3_to_4_units',
                                            'dwellings_5_to_9_units','dwellings_10_to_19_units',
                                            'dwellings_20_to_49_units'])

In [15]:
# Condensing income, to closer match tax brackets
cali_top5_df['income_10000_39999'] = cali_top5_df['income_10000_14999']+\
                                     cali_top5_df['income_15000_19999']+\
                                     cali_top5_df['income_20000_24999']+\
                                     cali_top5_df['income_25000_29999']+\
                                     cali_top5_df['income_30000_34999']+\
                                     cali_top5_df['income_35000_39999']

cali_top5_df['income_40000_99999'] = cali_top5_df['income_40000_44999']+\
                                     cali_top5_df['income_45000_49999']+\
                                     cali_top5_df['income_50000_59999']+\
                                     cali_top5_df['income_60000_74999']+\
                                     cali_top5_df['income_75000_99999']

cali_top5_df['income_100000_199999'] = cali_top5_df['income_100000_124999']+\
                                       cali_top5_df['income_125000_149999']+\
                                       cali_top5_df['income_150000_199999']

cali_top5_df = cali_top5_df.drop(columns = ['income_10000_14999','income_15000_19999',
                                            'income_20000_24999','income_25000_29999',
                                            'income_30000_34999','income_35000_39999',
                                            'income_40000_44999','income_45000_49999',
                                            'income_50000_59999','income_60000_74999',
                                            'income_75000_99999','income_100000_124999',
                                            'income_125000_149999','income_150000_199999'])

In [16]:
# Renaming degree types for organization
cali_top5_df = cali_top5_df.rename(columns = {'associates_degree':'degree_associates',
                                              'bachelors_degree':'degree_bachelors',
                                              'graduate_professional_degree':'degree_graduate_professional',
                                              'walked_to_work':'commuters_walked_to_work'})

In [17]:
cali_top5_reduced = cali_top5_df[['Date','RegionName','City',
              'CountyName','Metro','female_19_under',
              'female_20_to_29','female_30_to_39','female_40_to_64',
              'female_64_over','male_19_under','male_20_to_29',
              'male_30_to_39','male_40_to_64','male_64_over',
              'commute_30_mins_less','commute_30_to_59','commute_60_more_mins','income_less_10000',
              'income_10000_39999','income_40000_99999','income_100000_199999',
              'income_200000_or_more','degree_associates','degree_bachelors',
              'degree_graduate_professional','mobile_homes','unemployed_pop',
              'total_pop','vacant_housing_units','vacant_housing_units_for_rent','housing_units',
              'amerindian_pop','asian_pop','black_pop','hispanic_pop','other_race_pop',
              'white_pop','dwellings_1_unit','dwellings_2_to_49_units',
              'dwellings_50_or_more_units','commuters_by_public_transportation',
              'commuters_walked_to_work','households_public_asst_or_food_stamps','households',
              'housing_built_1939_or_earlier','housing_built_2000_to_2004','housing_built_2005_or_later']]

In [18]:
null_columns(cali_top5_reduced)

            Feature  Count
0     male_40_to_64    764
1  commute_30_to_59    764

In [19]:
cali_top5_reduced = cali_top5_reduced.fillna(0)

In [20]:
null_columns(cali_top5_reduced)

Empty DataFrame
Columns: [Feature, Count]
Index: []

In [34]:
cali_top5_reduced.head(2)

,Date,RegionName,City,CountyName,Metro,female_19_under,female_20_to_29,female_30_to_39,female_40_to_64,female_64_over,male_19_under,male_20_to_29,male_30_to_39,male_40_to_64,male_64_over,commute_30_mins_less,commute_30_to_59,commute_60_more_mins,income_less_10000,income_10000_39999,income_40000_99999,income_100000_199999,income_200000_or_more,degree_associates,degree_bachelors,degree_graduate_professional,mobile_homes,unemployed_pop,total_pop,vacant_housing_units,vacant_housing_units_for_rent,housing_units,amerindian_pop,asian_pop,black_pop,hispanic_pop,other_race_pop,white_pop,dwellings_1_unit,dwellings_2_to_49_units,dwellings_50_or_more_units,commuters_by_public_transportation,commuters_walked_to_work,households_public_asst_or_food_stamps,households,housing_built_1939_or_earlier,housing_built_2000_to_2004,housing_built_2005_or_later
0,2013,94109,San Francisco,San Francisco County,San Francisco-Oakland-Hayward,2127.0,8139.0,5473.0,7003.0,4924.0,2041.0,6000.0,6432.0,9512.0,3868.0,17396.0,9991.0,3554.0,3064.0,9405.0,9814.0,7180.0,3902.0,2521.0,17866.0,10222.0,38.0,2470.0,55519.0,3485.0,1099.0,36850.0,29.0,15509.0,1865.0,5680.0,862.0,29932.0,1284.0,25230.0,10262.0,12526.0,8113.0,1682.0,33365.0,22240.0,1207.0,16.0
1,2013,90250,Hawthorne,Los Angeles County,Los Angeles-Long Beach-Anaheim,13270.0,8673.0,7696.0,14190.0,4542.0,14845.0,7671.0,7372.0,12553.0,3182.0,24978.0,12951.0,4091.0,2355.0,10960.0,13343.0,4011.0,727.0,4826.0,7996.0,2738.0,292.0,4785.0,93994.0,1783.0,880.0,33179.0,66.0,6519.0,21902.0,49389.0,359.0,12573.0,13146.0,15993.0,3748.0,2845.0,744.0,3526.0,31396.0,1512.0,824.0,123.0

In [22]:
# Feature Engineering

pop_feats = ['female_19_under','female_20_to_29','female_30_to_39','female_40_to_64','female_64_over',
             'male_19_under','male_20_to_29','male_30_to_39','male_40_to_64','male_64_over']

In [33]:
pd.set_option('display.max_columns', None)

In [24]:
# Removing redundant ethnic variables
cali_top5_df = cali_top5_df.drop(columns = ['amerindian_including_hispanic','asian_including_hispanic',
                                            'black_including_hispanic','not_hispanic_pop',
                                            'two_or_more_races_pop','white_including_hispanic',
                                            'hispanic_any_race'])

In [25]:
# Removing redundant sex/education variables
cali_top5_df = cali_top5_df.drop(columns = ['male_45_64_associates_degree','male_45_64_bachelors_degree',
                                            'male_45_64_grade_9_12','male_45_64_graduate_degree',
                                            'male_45_64_high_school','male_45_64_less_than_9_grade',
                                            'male_45_64_some_college'])

In [26]:
# Removing redundant education variables
cali_top5_df = cali_top5_df.drop(columns = ['in_grades_1_to_4','in_grades_5_to_8','in_grades_9_to_12',
                                            'in_undergrad_college','bachelors_degree_2',
                                            'bachelors_degree_or_higher_25_64','masters_degree',
                                            'high_school_diploma','high_school_including_ged',
                                            'some_college_and_associates_degree','one_year_more_college'])

In [27]:
# Removing redundant population variables
cali_top5_df = cali_top5_df.drop(columns = ['population_1_year_and_over','population_3_years_over',
                                            'pop_5_years_over','pop_15_and_over',
                                            'pop_16_over','pop_25_64',
                                            'pop_25_years_over','pop_divorced','pop_never_married',
                                            'pop_now_married','pop_separated','pop_widowed'])

In [28]:
# Removing redundant commuting variables
cali_top5_df = cali_top5_df.drop(columns = ['commuters_by_bus','commuters_by_car_truck_van',
                                            'commuters_by_carpool','commuters_by_subway_or_elevated',
                                            'commuters_drove_alone','no_car','no_cars','one_car',
                                            'two_cars','three_cars','four_more_cars',
                                            'aggregate_travel_time_to_work'])

In [29]:
# Removing redundant housing/rent variables
cali_top5_df = cali_top5_df.drop(columns = ['rent_under_10_percent','rent_10_to_15_percent',
                                            'rent_15_to_20_percent','rent_20_to_25_percent',
                                            'rent_25_to_30_percent','rent_30_to_35_percent',
                                            'rent_35_to_40_percent','rent_40_to_50_percent',
                                            'rent_burden_not_computed','rent_over_50_percent',
                                            'renter_occupied_housing_units_paying_cash_median_gross_rent',
                                            'owner_occupied_housing_units','owner_occupied_housing_units_lower_value_quartile',
                                            'owner_occupied_housing_units_median_value',
                                            'owner_occupied_housing_units_upper_value_quartile','family_households',
                                            'nonfamily_households','different_house_year_ago_different_city',
                                            'different_house_year_ago_same_city'])

In [30]:
# Removing redundant family variables
cali_top5_df = cali_top5_df.drop(columns = ['two_parent_families_with_young_children',
                                            'two_parents_father_in_labor_force_families_with_young_children',
                                            'two_parents_in_labor_force_families_with_young_children',
                                            'two_parents_mother_in_labor_force_families_with_young_children',
                                            'two_parents_not_in_labor_force_families_with_young_children',
                                            'speak_only_english_at_home','speak_spanish_at_home',
                                            'speak_spanish_at_home_low_english','families_with_young_children',
                                            'father_in_labor_force_one_parent_families_with_young_children',
                                            'father_one_parent_families_with_young_children',
                                            'children_in_single_female_hh'])

In [31]:
cali_columns = list(cali_top5_df.columns)
cali_columns.sort()
cali_columns

['City',
 'CountyName',
 'Date',
 'Metro',
 'RegionName',
 'amerindian_pop',
 'armed_forces',
 'asian_male_45_54',
 'asian_male_55_64',
 'asian_pop',
 'avg_rent',
 'black_male_45_54',
 'black_male_55_64',
 'black_pop',
 'children',
 'civilian_labor_force',
 'commute_30_mins_less',
 'commute_30_to_59',
 'commute_60_more_mins',
 'commuters_16_over',
 'commuters_by_public_transportation',
 'commuters_walked_to_work',
 'degree_associates',
 'degree_bachelors',
 'degree_graduate_professional',
 'dwellings_1_unit',
 'dwellings_2_to_49_units',
 'dwellings_50_or_more_units',
 'employed_agriculture_forestry_fishing_hunting_mining',
 'employed_arts_entertainment_recreation_accommodation_food',
 'employed_construction',
 'employed_education_health_social',
 'employed_finance_insurance_real_estate',
 'employed_information',
 'employed_manufacturing',
 'employed_other_services_not_public_admin',
 'employed_pop',
 'employed_public_administration',
 'employed_retail_trade',
 'employed_science_management_admin_waste',
 'employed_transportation_warehousing_utilities',
 'employed_wholesale_trade',
 'female_19_under',
 'female_20_to_29',
 'female_30_to_39',
 'female_40_to_64',
 'female_64_over',
 'female_female_households',
 'gini_index',
 'group_quarters',
 'hispanic_male_45_54',
 'hispanic_male_55_64',
 'hispanic_pop',
 'households',
 'households_public_asst_or_food_stamps',
 'households_retirement_income',
 'housing_built_1939_or_earlier',
 'housing_built_2000_to_2004',
 'housing_built_2005_or_later',
 'housing_units',
 'housing_units_renter_occupied',
 'in_school',
 'income_100000_199999',
 'income_10000_39999',
 'income_200000_or_more',
 'income_40000_99999',
 'income_less_10000',
 'income_per_capita',
 'less_one_year_college',
 'less_than_high_school_graduate',
 'male_19_under',
 'male_20_to_29',
 'male_30_to_39',
 'male_40_to_64',
 'male_45_to_64',
 'male_64_over',
 'male_male_households',
 'management_business_sci_arts_employed',
 'married_households',
 'median_age',
 'median_income',
 'median_rent',
 'median_year_structure_built',
 'million_dollar_housing_units',
 'mobile_homes',
 'mortgaged_housing_units',
 'not_in_labor_force',
 'not_us_citizen_pop',
 'occupation_management_arts',
 'occupation_natural_resources_construction_maintenance',
 'occupation_production_transportation_material',
 'occupation_sales_office',
 'occupation_services',
 'occupied_housing_units',
 'one_parent_families_with_young_children',
 'other_race_pop',
 'percent_income_spent_on_rent',
 'pop_determined_poverty_status',
 'pop_in_labor_force',
 'poverty',
 'sales_office_employed',
 'total_pop',
 'unemployed_pop',
 'vacant_housing_units',
 'vacant_housing_units_for_rent',
 'vacant_housing_units_for_sale',
 'white_male_45_54',
 'white_male_55_64',
 'white_pop',
 'worked_at_home',
 'workers_16_and_over']

In [32]:
# vacant/housing -> zipcode health
temp2 = cali_top5_df[['vacant_housing_units','vacant_housing_units_for_rent',
                     'vacant_housing_units_for_sale']]
temp2

# vacant_housing_units_for_rent/vacant_housing_units -> rent listings

,vacant_housing_units,vacant_housing_units_for_rent,vacant_housing_units_for_sale
0,3485.0,1099.0,193.0
1,1783.0,880.0,56.0
2,1838.0,557.0,576.0
3,2372.0,1084.0,196.0
4,2128.0,557.0,105.0
...,...,...,...
6946,308.0,11.0,9.0
6947,1820.0,0.0,0.0
6948,788.0,0.0,0.0
6950,415.0,9.0,9.0
6953,1040.0,0.0,53.0