In [1]:
import pandas as pd
import numpy as np

In [2]:
cali_13 = pd.read_csv('data/cali_metros_13.csv')
cali_14 = pd.read_csv('data/cali_metros_14.csv')
cali_15 = pd.read_csv('data/cali_metros_15.csv')
cali_16 = pd.read_csv('data/cali_metros_16.csv')
cali_17 = pd.read_csv('data/cali_metros_17.csv')
cali_18 = pd.read_csv('data/cali_metros_18.csv')

In [3]:
pd.set_option('display.max_columns', None)

In [4]:
def null_columns(df):
    
    null_columns = df.columns[df.isnull().any()]
    null_df = pd.DataFrame(df[null_columns].isnull().sum()).reset_index()
    null_df = null_df.rename(columns={'index':'Feature',0:'Count'})
    
    
    
    return null_df.sort_values('Count', ascending = False)

In [5]:
irs_data = pd.read_csv('data/13zp05ca.csv')

/Users/skippy/opt/anaconda3/lib/python3.9/site-packages/IPython/core/interactiveshell.py:3444: DtypeWarning: Columns (0) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [6]:
cali_lst = [cali_13,cali_14,cali_15,cali_16,cali_17,cali_18]
cali_concat = pd.concat(cali_lst, ignore_index=True)

In [7]:
cali_concat.shape

(6954, 260)

In [8]:
cali_top5 = ['Los Angeles-Long Beach-Anaheim', 'San Francisco-Oakland-Hayward','Riverside-San Bernardino-Ontario',\
'Sacramento--Roseville--Arden-Arcade', 'San Diego-Carlsbad']

In [9]:
cali_top5_df = cali_concat[cali_concat['Metro'].isin(cali_top5)]

In [10]:
cali_top5_df = cali_top5_df.drop(columns=['RegionID','State','SizeRank','do_date'])

In [11]:
cali_top5_df.head()

,RegionName,City,Metro,CountyName,nonfamily_households,family_households,median_year_structure_built,rent_burden_not_computed,rent_over_50_percent,rent_40_to_50_percent,rent_35_to_40_percent,rent_30_to_35_percent,rent_25_to_30_percent,rent_20_to_25_percent,rent_15_to_20_percent,rent_10_to_15_percent,rent_under_10_percent,total_pop,male_pop,female_pop,median_age,white_pop,black_pop,asian_pop,hispanic_pop,amerindian_pop,other_race_pop,two_or_more_races_pop,not_hispanic_pop,commuters_by_public_transportation,households,median_income,income_per_capita,housing_units,vacant_housing_units,vacant_housing_units_for_rent,vacant_housing_units_for_sale,median_rent,percent_income_spent_on_rent,owner_occupied_housing_units,million_dollar_housing_units,mortgaged_housing_units,families_with_young_children,two_parent_families_with_young_children,two_parents_in_labor_force_families_with_young_children,two_parents_father_in_labor_force_families_with_young_children,two_parents_mother_in_labor_force_families_with_young_children,two_parents_not_in_labor_force_families_with_young_children,one_parent_families_with_young_children,father_one_parent_families_with_young_children,father_in_labor_force_one_parent_families_with_young_children,commute_10_14_mins,commute_15_19_mins,commute_20_24_mins,commute_25_29_mins,commute_30_34_mins,commute_45_59_mins,aggregate_travel_time_to_work,income_less_10000,income_10000_14999,income_15000_19999,income_20000_24999,income_25000_29999,income_30000_34999,income_35000_39999,income_40000_44999,income_45000_49999,income_50000_59999,income_60000_74999,income_75000_99999,income_100000_124999,income_125000_149999,income_150000_199999,income_200000_or_more,renter_occupied_housing_units_paying_cash_median_gross_rent,owner_occupied_housing_units_lower_value_quartile,owner_occupied_housing_units_median_value,owner_occupied_housing_units_upper_value_quartile,married_households,occupied_housing_units,housing_units_renter_occupied,dwellings_1_units_detached,dwellings_1_units_attached,dwellings_2_units,dwellings_3_to_4_units,dwellings_5_to_9_units,dwellings_10_to_19_units,dwellings_20_to_49_units,dwellings_50_or_more_units,mobile_homes,housing_built_2005_or_later,housing_built_2000_to_2004,housing_built_1939_or_earlier,male_under_5,male_5_to_9,male_10_to_14,male_15_to_17,male_18_to_19,male_20,male_21,male_22_to_24,male_25_to_29,male_30_to_34,male_35_to_39,male_40_to_44,male_45_to_49,male_50_to_54,male_55_to_59,male_60_61,male_62_64,male_65_to_66,male_67_to_69,male_70_to_74,male_75_to_79,male_80_to_84,male_85_and_over,female_under_5,female_5_to_9,female_10_to_14,female_15_to_17,female_18_to_19,female_20,female_21,female_22_to_24,female_25_to_29,female_30_to_34,female_35_to_39,female_40_to_44,female_45_to_49,female_50_to_54,female_55_to_59,female_60_to_61,female_62_to_64,female_65_to_66,female_67_to_69,female_70_to_74,female_75_to_79,female_80_to_84,female_85_and_over,white_including_hispanic,black_including_hispanic,amerindian_including_hispanic,asian_including_hispanic,commute_5_9_mins,commute_35_39_mins,commute_40_44_mins,commute_60_89_mins,commute_90_more_mins,households_retirement_income,armed_forces,civilian_labor_force,employed_pop,unemployed_pop,not_in_labor_force,pop_16_over,pop_in_labor_force,asian_male_45_54,asian_male_55_64,black_male_45_54,black_male_55_64,hispanic_male_45_54,hispanic_male_55_64,white_male_45_54,white_male_55_64,bachelors_degree_2,bachelors_degree_or_higher_25_64,children,children_in_single_female_hh,commuters_by_bus,commuters_by_car_truck_van,commuters_by_carpool,commuters_by_subway_or_elevated,commuters_drove_alone,different_house_year_ago_different_city,different_house_year_ago_same_city,employed_agriculture_forestry_fishing_hunting_mining,employed_arts_entertainment_recreation_accommodation_food,employed_construction,employed_education_health_social,employed_finance_insurance_real_estate,employed_information,employed_manufacturing,employed_other_services_not_public_admin,employed_public_administration,employed_retail_trade,employed_science_management_admin_waste,employed_transportation_warehousing_utilities,employed_wholesale_trade,female_female_households,four_more_cars,gini_index,graduate_professional_degree,group_quarters,high_school_including_ged,households_public_asst_or_food_stamps,in_grades_1_to_4,in_grades_5_to_8,in_grades_9_to_12,in_school,in_undergrad_college,less_than_high_school_graduate,male_45_64_associates_degree,male_45_64_bachelors_degree,male_45_64_graduate_degree,male_45_64_less_than_9_grade,male_45_64_grade_9_12,male_45_64_high_school,male_45_64_some_college,male_45_to_64,male_male_households,management_business_sci_arts_employed,no_car,no_cars,not_us_citizen_pop,occupation_management_arts,occupation_natural_resources_construction_maintenance,occupation_production_transportation_material,occupation_sales_office,occupation_services,one_car,two_cars,three_cars,pop_25_64,pop_determined_poverty_status,population_1_year_and_over,population_3_years_over,poverty,sales_office_employed,some_college_and_associates_degree,walked_to_work,worked_at_home,workers_16_and_over,associates_degree,bachelors_degree,high_school_diploma,less_one_year_college,masters_degree,one_year_more_college,pop_25_years_over,commute_35_44_mins,commute_60_more_mins,commute_less_10_mins,commuters_16_over,hispanic_any_race,pop_5_years_over,speak_only_english_at_home,speak_spanish_at_home,speak_spanish_at_home_low_english,pop_15_and_over,pop_never_married,pop_now_married,pop_separated,pop_widowed,pop_divorced,avg_rent,Date
0,94109,San Francisco,San Francisco-Oakland-Hayward,San Francisco County,25096.0,8269.0,1939.0,1425.0,6442.0,2043.0,1630.0,2017.0,3070.0,3525.0,3863.0,2447.0,1689.0,55519.0,27853.0,27666.0,37.0,29932.0,1865.0,15509.0,5680.0,29.0,862.0,1609.0,49839.0,12526.0,33365.0,60722.0,58033.0,36850.0,3485.0,1099.0,193.0,1333.0,28.0,5214.0,1501.0,3235.0,1679.0,1358.0,625.0,653.0,38.0,42.0,321.0,0.0,0.0,2838.0,4920.0,5338.0,2447.0,5636.0,2531.0,902580.0,3064.0,2617.0,1523.0,1717.0,1308.0,999.0,1241.0,1069.0,903.0,2038.0,2586.0,3218.0,3036.0,1719.0,2425.0,3902.0,1379.0,515700.0,723200.0,1000001.0,6336.0,33365.0,28151.0,851.0,433.0,1161.0,1867.0,3887.0,7565.0,10750.0,10262.0,38.0,16.0,1207.0,22240.0,711.0,391.0,390.0,213.0,336.0,170.0,225.0,1381.0,4224.0,3851.0,2581.0,1705.0,2257.0,2038.0,1594.0,751.0,1167.0,594.0,526.0,728.0,751.0,561.0,708.0,765.0,450.0,270.0,216.0,426.0,390.0,232.0,2369.0,5148.0,3497.0,1976.0,1189.0,1505.0,1383.0,1146.0,739.0,1041.0,362.0,446.0,1114.0,879.0,875.0,1248.0,32779.0,2178.0,91.0,15639.0,1443.0,621.0,1203.0,2560.0,994.0,2771.0,48.0,36924.0,34454.0,2470.0,15512.0,52484.0,36972.0,880.0,1027.0,445.0,218.0,292.0,302.0,2558.0,1942.0,17866.0,24554.0,3406.0,701.0,10581.0,8518.0,1441.0,944.0,7077.0,5021.0,6186.0,0.0,4641.0,546.0,4552.0,4353.0,2078.0,1553.0,1067.0,847.0,3899.0,9404.0,908.0,606.0,60.0,163.0,0.5331,10222.0,1311.0,4664.0,1682.0,569.0,432.0,697.0,8402.0,3959.0,4647.0,516.0,2247.0,1429.0,378.0,382.0,1209.0,1646.0,7807.0,369.0,18970.0,15675.0,18687.0,7751.0,18970.0,532.0,1134.0,8780.0,5038.0,11448.0,2620.0,447.0,37792.0,54659.0,55071.0,54450.0,8438.0,8780.0,9185.0,8113.0,2829.0,33770.0,2521.0,17866.0,3967.0,1050.0,7008.0,5614.0,46584.0,1824.0,3554.0,1853.0,30941.0,5680.0,54043.0,34026.0,4015.0,1224.0,52542.0,29413.0,14320.0,986.0,1136.0,3506.0,3747.083333,2013
1,90250,Hawthorne,Los Angeles-Long Beach-Anaheim,Los Angeles County,10196.0,21200.0,1965.0,786.0,5728.0,1952.0,1945.0,1789.0,2576.0,2779.0,2244.0,1540.0,386.0,93994.0,45623.0,48371.0,31.5,12573.0,21902.0,6519.0,49389.0,66.0,359.0,2273.0,44605.0,2845.0,31396.0,45995.0,21018.0,33179.0,1783.0,880.0,56.0,981.0,32.6,9671.0,50.0,7627.0,8002.0,4063.0,2422.0,1590.0,24.0,27.0,3939.0,1167.0,1003.0,5872.0,6562.0,6796.0,2065.0,6770.0,3368.0,1137965.0,2355.0,1564.0,1815.0,2239.0,1966.0,1816.0,1560.0,2040.0,1532.0,2845.0,3188.0,3738.0,1673.0,1262.0,1076.0,727.0,1034.0,315500.0,397500.0,515700.0,11809.0,31396.0,21725.0,11883.0,1263.0,1222.0,2776.0,4239.0,2494.0,5262.0,3748.0,292.0,123.0,824.0,1512.0,3516.0,3689.0,3851.0,2455.0,1334.0,947.0,675.0,1797.0,4252.0,4123.0,3249.0,3008.0,3237.0,2532.0,2216.0,734.0,826.0,515.0,858.0,919.0,473.0,243.0,174.0,3086.0,3515.0,3270.0,2095.0,1304.0,857.0,746.0,2370.0,4700.0,3951.0,3745.0,3461.0,3629.0,2795.0,2311.0,819.0,1175.0,577.0,706.0,1234.0,783.0,619.0,623.0,46034.0,22500.0,250.0,6685.0,3255.0,1002.0,1811.0,2987.0,1104.0,2725.0,102.0,48767.0,43982.0,4785.0,22751.0,71620.0,48869.0,455.0,340.0,1492.0,744.0,2769.0,1486.0,1013.0,1120.0,7996.0,9756.0,25477.0,7908.0,2656.0,37508.0,4498.0,89.0,33010.0,10236.0,3816.0,81.0,5081.0,2484.0,8869.0,2327.0,1065.0,4396.0,3027.0,1960.0,4837.0,4901.0,4050.0,904.0,44.0,1706.0,0.4351,2738.0,541.0,14213.0,3526.0,5380.0,5723.0,6695.0,28856.0,6911.0,14697.0,762.0,1436.0,534.0,1384.0,1127.0,2144.0,2158.0,9545.0,44.0,10668.0,1644.0,2789.0,16557.0,10668.0,3940.0,6236.0,11522.0,11616.0,13303.0,10182.0,3416.0,50763.0,93235.0,92328.0,89715.0,17368.0,11522.0,18843.0,744.0,1065.0,43085.0,4826.0,7996.0,13212.0,3082.0,2060.0,10935.0,58487.0,2813.0,4091.0,3683.0,42020.0,49389.0,87392.0,38126.0,40425.0,16702.0,73067.0,32819.0,27720.0,2285.0,1854.0,4583.0,2309.416667,2013
2,94565,Pittsburg,San Francisco-Oakland-Hayward,Contra Costa County,6676.0,19322.0,1979.0,553.0,3632.0,1291.0,1010.0,846.0,943.0,1406.0,1105.0,518.0,190.0,86204.0,41968.0,44236.0,32.4,17040.0,14512.0,10797.0,39101.0,143.0,335.0,3172.0,47103.0,3314.0,25998.0,55255.0,22373.0,27836.0,1838.0,557.0,576.0,1148.0,37.3,14504.0,29.0,11437.0,7380.0,4404.0,2445.0,1854.0,75.0,30.0,2976.0,740.0,725.0,3397.0,3926.0,4671.0,2154.0,5472.0,4247.0,1262720.0,1591.0,1270.0,1426.0,1621.0,1167.0,1363.0,1127.0,1281.0,1098.0,1970.0,2800.0,3361.0,2395.0,1441.0,1363.0,724.0,1276.0,145600.0,213300.0,290100.0,12173.0,25998.0,11494.0,18900.0,1827.0,528.0,1237.0,1295.0,1025.0,359.0,1287.0,1339.0,250.0,4340.0,922.0,3210.0,3469.0,3092.0,1865.0,1585.0,788.0,731.0,2078.0,3007.0,3381.0,3107.0,2912.0,2840.0,2504.0,2119.0,1064.0,1059.0,547.0,418.0,939.0,686.0,343.0,224.0,2988.0,3415.0,3595.0,1734.0,1427.0,539.0,556.0,2050.0,3616.0,3420.0,3161.0,3237.0,2921.0,2931.0,2495.0,819.0,1185.0,730.0,740.0,938.0,583.0,578.0,578.0,36297.0,14834.0,336.0,11033.0,1706.0,743.0,1614.0,5237.0,2072.0,4139.0,61.0,43557.0,37523.0,6034.0,21605.0,65223.0,43618.0,643.0,774.0,767.0,811.0,2017.0,943.0,1699.0,1598.0,6538.0,7863.0,23368.0,7029.0,720.0,30997.0,6730.0,2235.0,24267.0,8707.0,5190.0,163.0,3105.0,3764.0,8003.0,2710.0,611.0,2369.0,2178.0,1386.0,4724.0,5675.0,1998.0,837.0,65.0,2426.0,0.4404,2358.0,552.0,14346.0,3747.0,5788.0,5033.0,5496.0,24611.0,5137.0,12742.0,710.0,1252.0,532.0,1179.0,796.0,2738.0,2379.0,9586.0,44.0,8673.0,699.0,1589.0,16143.0,8673.0,4915.0,3946.0,9244.0,10745.0,7793.0,9275.0,4915.0,45778.0,85696.0,85328.0,82409.0,17027.0,9244.0,17098.0,407.0,1125.0,36527.0,4310.0,6538.0,12663.0,3438.0,1809.0,9350.0,53082.0,2357.0,7309.0,1869.0,35402.0,39101.0,80006.0,39899.0,30041.0,14947.0,66435.0,25894.0,28380.0,1842.0,1982.0,5174.0,1716.500000,2013
3,90046,Los Angeles,Los Angeles-Long Beach-Anaheim,Los Angeles County,21276.0,7452.0,1959.0,870.0,6388.0,1891.0,1982.0,1961.0,2972.0,2070.0,2065.0,1600.0,752.0,50499.0,26451.0,24048.0,37.8,38104.0,1952.0,2751.0,5322.0,145.0,146.0,2016.0,45177.0,1418.0,28728.0,52641.0,54707.0,31100.0,2372.0,1084.0,196.0,1288.0,33.5,6177.0,2513.0,4967.0,1595.0,1159.0,638.0,450.0,41.0,30.0,436.0,177.0,177.0,3705.0,4281.0,3454.0,1620.0,4574.0,2431.0,689775.0,2376.0,2397.0,1426.0,1513.0,1252.0,1225.0,840.0,1278.0,1433.0,2239.0,1989.0,2914.0,1976.0,1521.0,1546.0,2803.0,1368.0,558700.0,873100.0,1000001.0,5186.0,28728.0,22551.0,6526.0,431.0,1000.0,830.0,3651.0,6555.0,7436.0,4653.0,7.0,248.0,901.0,6725.0,664.0,739.0,448.0,193.0,286.0,151.0,122.0,1318.0,3806.0,3404.0,3070.0,2171.0,2584.0,1746.0,1424.0,601.0,690.0,442.0,467.0,747.0,545.0,484.0,349.0,709.0,429.0,546.0,316.0,216.0,167.0,219.0,1679.0,3644.0,3141.0,2110.0,1501.0,1638.0,1387.0,1137.0,615.0,637.0,434.0,388.0,868.0,556.0,701.0,1010.0,40590.0,2039.0,195.0,2803.0,1510.0,941.0,1742.0,1093.0,430.0,1599.0,8.0,34623.0,30798.0,3825.0,12166.0,46797.0,34631.0,202.0,90.0,209.0,74.0,341.0,159.0,3515.0,2331.0,17536.0,21173.0,4044.0,904.0,1262.0,22795.0,1311.0,156.0,21484.0,5972.0,4896.0,83.0,6107.0,342.0,4093.0,1935.0,4851.0,1174.0,2186.0,543.0,2616.0,5597.0,714.0,557.0,134.0,622.0,0.5729,6821.0,511.0,4911.0,816.0,934.0,777.0,720.0,6957.0,2397.0,1975.0,394.0,2596.0,1399.0,59.0,246.0,759.0,1592.0,7045.0,888.0,17422.0,1487.0,4176.0,5227.0,17422.0,482.0,840.0,6948.0,5106.0,14600.0,7831.0,1499.0,35306.0,50386.0,49978.0,49659.0,8229.0,6948.0,11054.0,1270.0,4098.0,30459.0,2886.0,17536.0,4633.0,1488.0,4318.0,6680.0,42297.0,2683.0,1523.0,2090.0,26361.0,5322.0,49126.0,29533.0,4847.0,1016.0,46964.0,26353.0,11830.0,865.0,870.0,2905.0,2799.833333,2013
4,94501,Alameda,San Francisco-Oakland-Hayward,Alameda County,10299.0,14372.0,1950.0,683.0,2995.0,1176.0,1054.0,1313.0,1704.0,2091.0,1961.0,1201.0,470.0,61639.0,30085.0,31554.0,39.4,26989.0,4611.0,18202.0,8235.0,120.0,110.0,3014.0,53404.0,4749.0,24671.0,69076.0,38185.0,26799.0,2128.0,557.0,105.0,1247.0,28.7,10023.0,453.0,7234.0,4599.0,3621.0,2352.0,1128.0,126.0,15.0,978.0,301.0,242.0,3705.0,3917.0,4065.0,1466.0,4342.0,3247.0,797785.0,1238.0,1235.0,976.0,791.0,1089.0,926.0,838.0,969.0,773.0,2024.0,2362.0,3479.0,2439.0,1498.0,2026.0,2008.0,1314.0,452800.0,607000.0,740600.0,10195.0,24671.0,14648.0,10108.0,1910.0,2097.0,2911.0,2833.0,1545.0,2914.0,2398.0,21.0,32.0,1359.0,11196.0,2035.0,1816.0,1578.0,1201.0,551.0,301.0,412.0,1201.0,2432.0,2193.0,2402.0,2103.0,2366.0,2332.0,2081.0,647.0,1044.0,452.0,610.0,870.0,557.0,386.0,515.0,1715.0,1628.0,1612.0,878.0,438.0,413.0,290.0,948.0,2056.0,2755.0,2756.0,2390.0,2651.0,2584.0,1963.0,737.0,1250.0,511.0,944.0,823.0,776.0,629.0,807.0,30706.0,4834.0,239.0,18523.0,2198.0,765.0,1481.0,2263.0,555.0,3630.0,600.0,34535.0,31230.0,3305.0,15396.0,50531.0,35135.0,945.0,989.0,239.0,277.0,553.0,353.0,2766.0,2083.0,12703.0,17471.0,12463.0,2903.0,2700.0,21278.0,2818.0,1424.0,18460.0,6659.0,3940.0,64.0,2847.0,1251.0,7662.0,2256.0,1313.0,2086.0,1881.0,1156.0,2996.0,4980.0,1945.0,793.0,243.0,981.0,0.4606,7269.0,1044.0,6787.0,1768.0,2551.0,2501.0,2720.0,14656.0,3704.0,4564.0,651.0,2012.0,1456.0,393.0,382.0,1601.0,1975.0,8470.0,143.0,14228.0,1417.0,2554.0,6387.0,14228.0,1626.0,2591.0,7470.0,5315.0,10522.0,8445.0,2169.0,36742.0,60607.0,61003.0,59538.0,7125.0,7470.0,13299.0,1516.0,2176.0,30754.0,4028.0,12703.0,6095.0,2023.0,4726.0,7248.0,44622.0,2246.0,2818.0,2772.0,28578.0,8235.0,57889.0,36956.0,4308.0,1158.0,51255.0,18319.0,23250.0,1138.0,1558.0,4514.0,2352.833333,2013

In [12]:
# Condensing female age groups
cali_top5_df['female_19_under'] = cali_top5_df['female_under_5']+\
                                  cali_top5_df['female_5_to_9']+\
                                  cali_top5_df['female_10_to_14']+\
                                  cali_top5_df['female_15_to_17']+\
                                  cali_top5_df['female_18_to_19']

cali_top5_df['female_20_to_29'] = cali_top5_df['female_20']+\
                                  cali_top5_df['female_21']+\
                                  cali_top5_df['female_22_to_24']+\
                                  cali_top5_df['female_25_to_29']

cali_top5_df['female_30_to_39'] = cali_top5_df['female_30_to_34']+\
                                  cali_top5_df['female_35_to_39']

cali_top5_df['female_40_to_64'] = cali_top5_df['female_40_to_44']+\
                                  cali_top5_df['female_45_to_49']+\
                                  cali_top5_df['female_50_to_54']+\
                                  cali_top5_df['female_55_to_59']+\
                                  cali_top5_df['female_60_to_61']+\
                                  cali_top5_df['female_62_to_64']

cali_top5_df['female_64_over'] =  cali_top5_df['female_65_to_66']+\
                                  cali_top5_df['female_67_to_69']+\
                                  cali_top5_df['female_70_to_74']+\
                                  cali_top5_df['female_75_to_79']+\
                                  cali_top5_df['female_80_to_84']+\
                                  cali_top5_df['female_85_and_over']

cali_top5_df = cali_top5_df.drop(columns = ['female_under_5','female_5_to_9',
                                            'female_10_to_14','female_15_to_17',
                                            'female_18_to_19','female_20',
                                            'female_21','female_22_to_24',
                                            'female_25_to_29','female_30_to_34',
                                            'female_35_to_39','female_40_to_44',
                                            'female_45_to_49','female_50_to_54',
                                            'female_55_to_59','female_60_to_61',
                                            'female_62_to_64','female_65_to_66',
                                            'female_67_to_69','female_70_to_74',
                                            'female_75_to_79','female_80_to_84',
                                            'female_85_and_over','female_pop'])

In [13]:
# Condensing male age groups
cali_top5_df['male_19_under'] = cali_top5_df['male_under_5']+\
                                cali_top5_df['male_5_to_9']+\
                                cali_top5_df['male_10_to_14']+\
                                cali_top5_df['male_15_to_17']+\
                                cali_top5_df['male_18_to_19']

cali_top5_df['male_20_to_29'] = cali_top5_df['male_20']+\
                                cali_top5_df['male_21']+\
                                cali_top5_df['male_22_to_24']+\
                                cali_top5_df['male_25_to_29']

cali_top5_df['male_30_to_39'] = cali_top5_df['male_30_to_34']+\
                                cali_top5_df['male_35_to_39']

cali_top5_df['male_40_to_64'] = cali_top5_df['male_40_to_44']+\
                                cali_top5_df['male_45_to_49']+\
                                cali_top5_df['male_50_to_54']+\
                                cali_top5_df['male_55_to_59']+\
                                cali_top5_df['male_60_61']+\
                                cali_top5_df['male_62_64']

cali_top5_df['male_64_over'] =  cali_top5_df['male_65_to_66']+\
                                cali_top5_df['male_67_to_69']+\
                                cali_top5_df['male_70_to_74']+\
                                cali_top5_df['male_75_to_79']+\
                                cali_top5_df['male_80_to_84']+\
                                cali_top5_df['male_85_and_over']

cali_top5_df = cali_top5_df.drop(columns = ['male_under_5','male_5_to_9',
                                            'male_10_to_14','male_15_to_17',
                                            'male_18_to_19','male_20',
                                            'male_21','male_22_to_24',
                                            'male_25_to_29','male_30_to_34',
                                            'male_35_to_39','male_40_to_44',
                                            'male_45_to_49','male_50_to_54',
                                            'male_55_to_59','male_60_61',
                                            'male_62_64','male_65_to_66',
                                            'male_67_to_69','male_70_to_74',
                                            'male_75_to_79','male_80_to_84',
                                            'male_85_and_over','male_pop'])

In [14]:
# Condensing commute times 
cali_top5_df['commute_30_mins_less'] = cali_top5_df['commute_less_10_mins']+\
                                       cali_top5_df['commute_10_14_mins']+\
                                       cali_top5_df['commute_15_19_mins']+\
                                       cali_top5_df['commute_20_24_mins']+\
                                       cali_top5_df['commute_25_29_mins']

cali_top5_df['commute_30_to_59'] = cali_top5_df['commute_30_34_mins']+\
                                   cali_top5_df['commute_35_39_mins']+\
                                   cali_top5_df['commute_40_44_mins']+\
                                   cali_top5_df['commute_45_59_mins']

cali_top5_df = cali_top5_df.drop(columns = ['commute_5_9_mins','commute_less_10_mins',
                                            'commute_15_19_mins','commute_20_24_mins',
                                            'commute_25_29_mins','commute_30_34_mins',
                                            'commute_35_39_mins','commute_35_44_mins',
                                            'commute_40_44_mins','commute_45_59_mins',
                                            'commute_60_89_mins','commute_90_more_mins',
                                            'commute_10_14_mins'])

In [15]:
# Condensing dwellings
cali_top5_df['dwellings_1_unit'] = cali_top5_df['dwellings_1_units_attached']+\
                                   cali_top5_df['dwellings_1_units_detached']

cali_top5_df['dwellings_2_to_49_units'] = cali_top5_df['dwellings_2_units']+\
                                          cali_top5_df['dwellings_3_to_4_units']+\
                                          cali_top5_df['dwellings_5_to_9_units']+\
                                          cali_top5_df['dwellings_10_to_19_units']+\
                                          cali_top5_df['dwellings_20_to_49_units']

cali_top5_df = cali_top5_df.drop(columns = ['dwellings_1_units_attached','dwellings_1_units_detached',
                                            'dwellings_2_units','dwellings_3_to_4_units',
                                            'dwellings_5_to_9_units','dwellings_10_to_19_units',
                                            'dwellings_20_to_49_units'])

In [16]:
# Condensing income, to closer match tax brackets
cali_top5_df['income_10000_39999'] = cali_top5_df['income_10000_14999']+\
                                     cali_top5_df['income_15000_19999']+\
                                     cali_top5_df['income_20000_24999']+\
                                     cali_top5_df['income_25000_29999']+\
                                     cali_top5_df['income_30000_34999']+\
                                     cali_top5_df['income_35000_39999']

cali_top5_df['income_40000_99999'] = cali_top5_df['income_40000_44999']+\
                                     cali_top5_df['income_45000_49999']+\
                                     cali_top5_df['income_50000_59999']+\
                                     cali_top5_df['income_60000_74999']+\
                                     cali_top5_df['income_75000_99999']

cali_top5_df['income_100000_199999'] = cali_top5_df['income_100000_124999']+\
                                       cali_top5_df['income_125000_149999']+\
                                       cali_top5_df['income_150000_199999']

cali_top5_df = cali_top5_df.drop(columns = ['income_10000_14999','income_15000_19999',
                                            'income_20000_24999','income_25000_29999',
                                            'income_30000_34999','income_35000_39999',
                                            'income_40000_44999','income_45000_49999',
                                            'income_50000_59999','income_60000_74999',
                                            'income_75000_99999','income_100000_124999',
                                            'income_125000_149999','income_150000_199999'])

In [17]:
# Renaming degree types for organization
cali_top5_df = cali_top5_df.rename(columns = {'associates_degree':'degree_associates',
                                              'bachelors_degree':'degree_bachelors',
                                              'graduate_professional_degree':'degree_graduate_professional',
                                              'walked_to_work':'commuters_walked_to_work'})

In [18]:
cali_top5_reduced = cali_top5_df[['Date','RegionName','City',
              'CountyName','Metro','avg_rent','female_19_under',
              'female_20_to_29','female_30_to_39','female_40_to_64',
              'female_64_over','male_19_under','male_20_to_29',
              'male_30_to_39','male_40_to_64','male_64_over',
              'commute_30_mins_less','commute_30_to_59','commute_60_more_mins','income_less_10000',
              'income_10000_39999','income_40000_99999','income_100000_199999',
              'income_200000_or_more','degree_associates','degree_bachelors',
              'degree_graduate_professional','mobile_homes','unemployed_pop',
              'total_pop','vacant_housing_units','vacant_housing_units_for_rent','housing_units',
              'amerindian_pop','asian_pop','black_pop','hispanic_pop','other_race_pop',
              'white_pop','dwellings_1_unit','dwellings_2_to_49_units',
              'dwellings_50_or_more_units','commuters_by_public_transportation',
              'commuters_walked_to_work','households_public_asst_or_food_stamps','households',
              'housing_built_1939_or_earlier','housing_built_2000_to_2004','housing_built_2005_or_later']]

In [19]:
null_columns(cali_top5_reduced)

            Feature  Count
1     male_40_to_64    764
2  commute_30_to_59    764
0          avg_rent     12

In [20]:
cali_top5_reduced = cali_top5_reduced.fillna(0)

In [21]:
null_columns(cali_top5_reduced)

Empty DataFrame
Columns: [Feature, Count]
Index: []

In [22]:
cali_top5_reduced.head(2)

,Date,RegionName,City,CountyName,Metro,avg_rent,female_19_under,female_20_to_29,female_30_to_39,female_40_to_64,female_64_over,male_19_under,male_20_to_29,male_30_to_39,male_40_to_64,male_64_over,commute_30_mins_less,commute_30_to_59,commute_60_more_mins,income_less_10000,income_10000_39999,income_40000_99999,income_100000_199999,income_200000_or_more,degree_associates,degree_bachelors,degree_graduate_professional,mobile_homes,unemployed_pop,total_pop,vacant_housing_units,vacant_housing_units_for_rent,housing_units,amerindian_pop,asian_pop,black_pop,hispanic_pop,other_race_pop,white_pop,dwellings_1_unit,dwellings_2_to_49_units,dwellings_50_or_more_units,commuters_by_public_transportation,commuters_walked_to_work,households_public_asst_or_food_stamps,households,housing_built_1939_or_earlier,housing_built_2000_to_2004,housing_built_2005_or_later
0,2013,94109,San Francisco,San Francisco County,San Francisco-Oakland-Hayward,3747.083333,2127.0,8139.0,5473.0,7003.0,4924.0,2041.0,6000.0,6432.0,9512.0,3868.0,17396.0,9991.0,3554.0,3064.0,9405.0,9814.0,7180.0,3902.0,2521.0,17866.0,10222.0,38.0,2470.0,55519.0,3485.0,1099.0,36850.0,29.0,15509.0,1865.0,5680.0,862.0,29932.0,1284.0,25230.0,10262.0,12526.0,8113.0,1682.0,33365.0,22240.0,1207.0,16.0
1,2013,90250,Hawthorne,Los Angeles County,Los Angeles-Long Beach-Anaheim,2309.416667,13270.0,8673.0,7696.0,14190.0,4542.0,14845.0,7671.0,7372.0,12553.0,3182.0,24978.0,12951.0,4091.0,2355.0,10960.0,13343.0,4011.0,727.0,4826.0,7996.0,2738.0,292.0,4785.0,93994.0,1783.0,880.0,33179.0,66.0,6519.0,21902.0,49389.0,359.0,12573.0,13146.0,15993.0,3748.0,2845.0,744.0,3526.0,31396.0,1512.0,824.0,123.0

In [23]:
cali_top5_reduced['households_public_asst_or_food_stamps'] = cali_top5_reduced['households_public_asst_or_food_stamps'] / cali_top5_reduced['households']

In [24]:
housing_feats = ['mobile_homes','vacant_housing_units','vacant_housing_units_for_rent',
                 'dwellings_1_unit','dwellings_2_to_49_units','dwellings_50_or_more_units',
                 'housing_built_1939_or_earlier','housing_built_2000_to_2004','housing_built_2005_or_later']

In [25]:
for feat in housing_feats:
    cali_top5_reduced[feat] = cali_top5_reduced[feat] / cali_top5_reduced['housing_units']

In [26]:
# Feature Engineering

pop_feats = ['female_19_under','female_20_to_29','female_30_to_39','female_40_to_64','female_64_over',
             'male_19_under','male_20_to_29','male_30_to_39','male_40_to_64','male_64_over',
             'commute_30_mins_less','commute_30_to_59','commute_60_more_mins',
             'commuters_by_public_transportation','commuters_walked_to_work',
             'income_less_10000','income_10000_39999','income_40000_99999','income_100000_199999','income_200000_or_more',
             'degree_associates','degree_bachelors','degree_graduate_professional',
             'unemployed_pop','amerindian_pop','asian_pop','black_pop','hispanic_pop','other_race_pop','white_pop',
             'households','housing_units']

In [27]:
for feat in pop_feats:
    cali_top5_reduced[feat] = cali_top5_reduced[feat] / cali_top5_reduced['total_pop']

In [28]:
cali_top5_reduced = cali_top5_reduced.drop(columns = ['total_pop'])

In [29]:
# Removing redundant ethnic variables
cali_top5_df = cali_top5_df.drop(columns = ['amerindian_including_hispanic','asian_including_hispanic',
                                            'black_including_hispanic','not_hispanic_pop',
                                            'two_or_more_races_pop','white_including_hispanic',
                                            'hispanic_any_race'])

In [30]:
cali_top5_reduced.head(2)

,Date,RegionName,City,CountyName,Metro,avg_rent,female_19_under,female_20_to_29,female_30_to_39,female_40_to_64,female_64_over,male_19_under,male_20_to_29,male_30_to_39,male_40_to_64,male_64_over,commute_30_mins_less,commute_30_to_59,commute_60_more_mins,income_less_10000,income_10000_39999,income_40000_99999,income_100000_199999,income_200000_or_more,degree_associates,degree_bachelors,degree_graduate_professional,mobile_homes,unemployed_pop,vacant_housing_units,vacant_housing_units_for_rent,housing_units,amerindian_pop,asian_pop,black_pop,hispanic_pop,other_race_pop,white_pop,dwellings_1_unit,dwellings_2_to_49_units,dwellings_50_or_more_units,commuters_by_public_transportation,commuters_walked_to_work,households_public_asst_or_food_stamps,households,housing_built_1939_or_earlier,housing_built_2000_to_2004,housing_built_2005_or_later
0,2013,94109,San Francisco,San Francisco County,San Francisco-Oakland-Hayward,3747.083333,0.038311,0.146598,0.098579,0.126137,0.088690,0.036762,0.108071,0.115852,0.171329,0.069670,0.313334,0.179956,0.064014,0.055188,0.169401,0.176768,0.129325,0.070282,0.045408,0.321800,0.184117,0.001031,0.044489,0.094573,0.029824,0.663737,0.000522,0.279346,0.033592,0.102307,0.015526,0.539131,0.034844,0.684668,0.278480,0.225616,0.146130,0.050412,0.600965,0.603528,0.032754,0.000434
1,2013,90250,Hawthorne,Los Angeles County,Los Angeles-Long Beach-Anaheim,2309.416667,0.141179,0.092272,0.081878,0.150967,0.048322,0.157936,0.081612,0.078431,0.133551,0.033853,0.265740,0.137785,0.043524,0.025055,0.116603,0.141956,0.042673,0.007735,0.051344,0.085069,0.029130,0.008801,0.050908,0.053739,0.026523,0.352991,0.000702,0.069355,0.233015,0.525448,0.003819,0.133764,0.396214,0.482022,0.112963,0.030268,0.007915,0.112307,0.334021,0.045571,0.024835,0.003707

In [31]:
cali_top5_reduced.to_csv('data/cali_top5_reduced.csv', index = False)

In [32]:
# Removing redundant sex/education variables
cali_top5_df = cali_top5_df.drop(columns = ['male_45_64_associates_degree','male_45_64_bachelors_degree',
                                            'male_45_64_grade_9_12','male_45_64_graduate_degree',
                                            'male_45_64_high_school','male_45_64_less_than_9_grade',
                                            'male_45_64_some_college'])

In [33]:
# Removing redundant education variables
cali_top5_df = cali_top5_df.drop(columns = ['in_grades_1_to_4','in_grades_5_to_8','in_grades_9_to_12',
                                            'in_undergrad_college','bachelors_degree_2',
                                            'bachelors_degree_or_higher_25_64','masters_degree',
                                            'high_school_diploma','high_school_including_ged',
                                            'some_college_and_associates_degree','one_year_more_college'])

In [34]:
# Removing redundant population variables
cali_top5_df = cali_top5_df.drop(columns = ['population_1_year_and_over','population_3_years_over',
                                            'pop_5_years_over','pop_15_and_over',
                                            'pop_16_over','pop_25_64',
                                            'pop_25_years_over','pop_divorced','pop_never_married',
                                            'pop_now_married','pop_separated','pop_widowed'])

In [35]:
# Removing redundant commuting variables
cali_top5_df = cali_top5_df.drop(columns = ['commuters_by_bus','commuters_by_car_truck_van',
                                            'commuters_by_carpool','commuters_by_subway_or_elevated',
                                            'commuters_drove_alone','no_car','no_cars','one_car',
                                            'two_cars','three_cars','four_more_cars',
                                            'aggregate_travel_time_to_work'])

In [36]:
# Removing redundant housing/rent variables
cali_top5_df = cali_top5_df.drop(columns = ['rent_under_10_percent','rent_10_to_15_percent',
                                            'rent_15_to_20_percent','rent_20_to_25_percent',
                                            'rent_25_to_30_percent','rent_30_to_35_percent',
                                            'rent_35_to_40_percent','rent_40_to_50_percent',
                                            'rent_burden_not_computed','rent_over_50_percent',
                                            'renter_occupied_housing_units_paying_cash_median_gross_rent',
                                            'owner_occupied_housing_units','owner_occupied_housing_units_lower_value_quartile',
                                            'owner_occupied_housing_units_median_value',
                                            'owner_occupied_housing_units_upper_value_quartile','family_households',
                                            'nonfamily_households','different_house_year_ago_different_city',
                                            'different_house_year_ago_same_city'])

In [37]:
# Removing redundant family variables
cali_top5_df = cali_top5_df.drop(columns = ['two_parent_families_with_young_children',
                                            'two_parents_father_in_labor_force_families_with_young_children',
                                            'two_parents_in_labor_force_families_with_young_children',
                                            'two_parents_mother_in_labor_force_families_with_young_children',
                                            'two_parents_not_in_labor_force_families_with_young_children',
                                            'speak_only_english_at_home','speak_spanish_at_home',
                                            'speak_spanish_at_home_low_english','families_with_young_children',
                                            'father_in_labor_force_one_parent_families_with_young_children',
                                            'father_one_parent_families_with_young_children',
                                            'children_in_single_female_hh'])

In [38]:
cali_columns = list(cali_top5_df.columns)
cali_columns.sort()
cali_columns

['City',
 'CountyName',
 'Date',
 'Metro',
 'RegionName',
 'amerindian_pop',
 'armed_forces',
 'asian_male_45_54',
 'asian_male_55_64',
 'asian_pop',
 'avg_rent',
 'black_male_45_54',
 'black_male_55_64',
 'black_pop',
 'children',
 'civilian_labor_force',
 'commute_30_mins_less',
 'commute_30_to_59',
 'commute_60_more_mins',
 'commuters_16_over',
 'commuters_by_public_transportation',
 'commuters_walked_to_work',
 'degree_associates',
 'degree_bachelors',
 'degree_graduate_professional',
 'dwellings_1_unit',
 'dwellings_2_to_49_units',
 'dwellings_50_or_more_units',
 'employed_agriculture_forestry_fishing_hunting_mining',
 'employed_arts_entertainment_recreation_accommodation_food',
 'employed_construction',
 'employed_education_health_social',
 'employed_finance_insurance_real_estate',
 'employed_information',
 'employed_manufacturing',
 'employed_other_services_not_public_admin',
 'employed_pop',
 'employed_public_administration',
 'employed_retail_trade',
 'employed_science_management_admin_waste',
 'employed_transportation_warehousing_utilities',
 'employed_wholesale_trade',
 'female_19_under',
 'female_20_to_29',
 'female_30_to_39',
 'female_40_to_64',
 'female_64_over',
 'female_female_households',
 'gini_index',
 'group_quarters',
 'hispanic_male_45_54',
 'hispanic_male_55_64',
 'hispanic_pop',
 'households',
 'households_public_asst_or_food_stamps',
 'households_retirement_income',
 'housing_built_1939_or_earlier',
 'housing_built_2000_to_2004',
 'housing_built_2005_or_later',
 'housing_units',
 'housing_units_renter_occupied',
 'in_school',
 'income_100000_199999',
 'income_10000_39999',
 'income_200000_or_more',
 'income_40000_99999',
 'income_less_10000',
 'income_per_capita',
 'less_one_year_college',
 'less_than_high_school_graduate',
 'male_19_under',
 'male_20_to_29',
 'male_30_to_39',
 'male_40_to_64',
 'male_45_to_64',
 'male_64_over',
 'male_male_households',
 'management_business_sci_arts_employed',
 'married_households',
 'median_age',
 'median_income',
 'median_rent',
 'median_year_structure_built',
 'million_dollar_housing_units',
 'mobile_homes',
 'mortgaged_housing_units',
 'not_in_labor_force',
 'not_us_citizen_pop',
 'occupation_management_arts',
 'occupation_natural_resources_construction_maintenance',
 'occupation_production_transportation_material',
 'occupation_sales_office',
 'occupation_services',
 'occupied_housing_units',
 'one_parent_families_with_young_children',
 'other_race_pop',
 'percent_income_spent_on_rent',
 'pop_determined_poverty_status',
 'pop_in_labor_force',
 'poverty',
 'sales_office_employed',
 'total_pop',
 'unemployed_pop',
 'vacant_housing_units',
 'vacant_housing_units_for_rent',
 'vacant_housing_units_for_sale',
 'white_male_45_54',
 'white_male_55_64',
 'white_pop',
 'worked_at_home',
 'workers_16_and_over']